﻿.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
    fill: #262626;
    font-size:9px;
}

bar {
    -moz-transition : all 0.3s;
    -o-transition : all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#heatmap .row {
  cursor: pointer; }
  #heatmap .row rect {
    stroke: black;
    stroke-width: 2px; }
  #heatmap .row.current.clicked rect {
    stroke: black; }
  #heatmap .row.current text {
    font-weight: bold; }
#heatmap .column text {
  font-weight: bold; }