.netDisplay {
    position: relative;   
    height: 92%
}

div.newToolbar,
.toolbar-network{
/*  overflow:hidden;
  top: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px; 
  z-index: 999;*/
}

.panel-net{
  margin-bottom:0px;  
}

div.scroller-inner {
    height : 93%;
}

body {
    overflow: scroll;
    display: table;
    height: 100%;
    width : 100%;
}


div.scroller,
div.pet-results,
div.mp-pusher,
div.container-fluid,
div.canvas,
html,
div.general-info {
    height : 100%
}


@media only screen
and (min-width: 768px)
and (max-width: 1024px){
     .clusStatDisplay,
     .PETNet {
        position: relative;
        height: 200px;
        /*border: 2px solid #DEDEDE;*/
     }
    
    div#GeneInfoContainer {
        border-color: white;
        height: 570px;
    }
    
    .panelContainer {
       padding-left: 0px;
       padding-right: 0px;
       box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);   
       border-radius:10px;
       height: 150px
    }
    
    .axis text {
        font-size:9px;
    }
}

@media screen and (min-width: 1024px) {
    .clusStatDisplay,
    .PETNet {
        position: relative;
        height: 300px;
        /*border: 2px solid #DEDEDE;*/
    }
    
    div#GeneInfoContainer {
        border-color: white;
        height: 670px;
    }
    
    .panelContainer {
       padding-left: 0px;
       padding-right: 0px;
       box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);   
       border-radius:10px;
       height: 250px
    }
    
    .axis text {
        font-size:10px;
    }
}

@media screen and (min-width: 1824px) {
    .clusStatDisplay,
    .PETNet {
        position: relative;
        height: 350px;
        /*border: 2px solid #DEDEDE;*/
    }
    
    div#GeneInfoContainer {
        border-color: white;
        height: 720px;
    }
    
    .panelContainer {
       padding-left: 0px;
       padding-right: 0px;
       box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);   
       border-radius:10px;
       height: 300px
    }
    
    .axis text {
        font-size:11px;
    }
}


.link {
  stroke: #000;
  stroke-opacity: 0.6;    
}

.node {
  stroke: #000;
  stroke-width: 1.5px;
  stroke-opacity : 0.5
}

.sigma-scene{
    position: relative;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
    fill: #404040;
}


bar {
    -moz-transition : all 0.3s;
    -o-transition : all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}