.Stats {
    height: 30%;  
    clear: both;    
    position: relative;
} 

.ChromStat{    
    height : 95%;
    padding-left: 0px;
    padding-right: 5px;
 
}

.InteractionsStat {        
    height: 75%;
    padding-left: 2px;
    padding-right: 2px;
  
}

.circosDiv,
.PerChromStat{
    height: 100%;
}