.pet-results {    
    overflow: hidden;    
    /*background-color: yellow;*/    
    position: absolute;
    height: 100%;
    width: 100%;
}

.pet-results:after{
    clear: both;    
    content: "";
    /*display: table;*/
}


.general-info{
    float: left;    
    height: 100%;
    width : 70%;
    
}



.Stats {
    height: 30%;
    width: 100%; 
    clear: both;    
    position: relative;
    /*background-color: black;*/
    /* display:table; */
    table-layout: fixed;
    /*overflow: hidden;*/
    float: left;
}


.ChromStat {    
    float: left;    
    width: 49%;
    height: 90%;
    background: rgba(234,239,242,0.4);
  /*border: 1px solid #f7f7f7;     
   * margin: 2px 2px 2px 2px;    
   background-color: red;*/
}


.InteractionsStat {        
    overflow: hidden;
    /* border: 1px solid #f7f7f7;    
    background-color: green;*/
    border: 3px solid red;
    /* margin: auto; */
    height: 100%;
    float: right;
    width: 49%
}

.regionInfo {
    overflow: hidden;
    /*background-color: palevioletred;*/
    height: 100%;
}