.container-fluid{
 padding: 0px;
 //background: #e1e9fb;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}



svg {
    height : inherit;
}

.infopanel {
    height : 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.a-upload {
	padding: 10px 5px 5px 5px;
}


 

/* Cytogenic bands */
.gpos,
.gpos100 {
   fill: rgb(0,0,0);
}

.gpos75 {
  fill: rgb(130,130,130);
}

.gpos66 {
    fill: rgb(160,160,160);
}

.gpos50 {
    fill: rgb(200,200,200);
}
.gpos33 {
    fill: rgb(210,210,210);
}

.gpos25 {
    fill: rgb(200,200,200);
}

.gvar {
    fill: rgb(220,220,220);
}

.gneg {
    fill: rgb(255,255,255);
}

.acen1,
.acen2 {
    fill: rgb(217,47,39);
}
.stalk {
    fill: rgb(100,127,164);
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

.highlighted{
            stroke-width: 2;
}

.enhancer {
    fill: green
}

.promoter {
    fill : red
}

div #fileuploadModal {
    top: 45%;
}

.glyphicon {
    margin: 0px 15px 0px 0px;
    width: 4px;
}

.panel {
    border-color: #808080;
}

.panel-heading {
    border-color : #808080;
}

.progress-header {
    width: 45%;
    position: absolute;
    height: 6px;
    background: #e1e1e1;
    border-radius: 6px;
    right: 30px;
    top: 40px;
}

.menu-panel {
    margin : 20px 10px 20px 10px;    
    border-color: #808080;
}

.petUpload,
.submitPet {
    margin-top : 10px;  
    width : 40%;       
}

.petUpload{
    margin-bottom: 10px
}


span .Stats {
    float: right;
    font-size: 13px;
}

span .Stats > input {
    margin-top: -5px;
}



.row {
    margin-top: 10px;
}



div#svgHolder {
    position: relative;
    padding-bottom : 10px;
}

*.dalliance .tier-tab {
    font-size : 12px;
    line-height: inherit;

}

div.Report-frame {
    box-sh  0 2m 2m #000;
}

#myWizard {border:1px solid #ccc;}


.easyWizardSteps {list-style:none;width:100%;overflow:hidden;margin:0;padding:0;border-bottom:1px solid #ccc;margin-bottom:20px}
.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#B0B1B3;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#000}

.easyWizardButtons {overflow:hidden;padding:10px;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {float:left}
.easyWizardButtons .next, .easyWizardButtons .submit {float:right}