<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chia-PET Visualizer</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- <link type="text/css" rel="stylesheet" href="{{url_for('static',  filename= 'basicStyle.css') }}" /> -->    
    <link type="text/css" rel="stylesheet" href="../static/normalize.css" />
    <link type="text/css" rel="stylesheet" href="../static/demo.css" />
    <link type="text/css" rel="stylesheet" href="../static/component.css" />
    <link type="text/css" rel="stylesheet" href="../static/networkStyle.css"/>
    <script src="../static/js/modernizr.custom.js"></script>    
</head>

<body>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Report</h4>
          </div>
            <form id="myWizard" type="get" action="" class="form-horizontal">
                <section class="step" data-step-title="Options">                    
                    <div class="control-group">
                    <table class="table table-condensed table-hover table-bordered">                        
                        <tbody>
                            <tr>
                                <td><strong>Statistics :</strong></td>
                                <td>
                                    <input type="checkbox" class="NetStat" value="nbNodes" checked />
                                    Nodes/Links
                                                <br />
                                </td>
                                <td>
                                    <input type="checkbox" class="NetStat" value="nbInterIntra" checked />
                                    Inter/Intra
                                                <br />
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Frequency</strong></td>
                                <td>
                                    <input type="checkbox" class="FreqStat" value="freqChrStat" checked />
                                    Frequency per chromosome
                                                <br />
                                </td>
                                <td>
                                    <input type="checkbox" class="FreqStat" value="freqHeatmapStat" checked />
                                    Heatmap
                                                <br />
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Circos:</strong></td>
                                <td colspan="2">
                                    <input type="checkbox" class="Circos" value="CircosMap" checked />
                                    Circos Map
                                                  <br />
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Clusters :</strong></td>
                                <td>
                                    <input type="checkbox" class="ClusStat" value="SizeDist" checked />
                                    Cluster Sizes distribution
                                                  <br />
                                </td>
                                <td>
                                    <input type="checkbox" class="clusStat" value="ClusAnnot" checked />
                                    Clusters Annotation
                                                  <br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </section>
                <section class="step" data-step-title="Preview">
                    <div class="control-group report">
                        <div class="Report-frame">
                            
                        </div>
                    </div>
                </section>
                
            </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span> Print report
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="../static/js/classie.js"></script>
		<script src="../static/js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
	</script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>    
    <script src="../static/js/Visualization/Network.js"></script>
    <script type="text/javascript">
         $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

         $(document).ready( function(){
             $('a#petUpload').bind('click', function() {                              
              displayPET("/getPets");                 
              return false;
           });              
         })
     </script>    
</body>
</html>
