<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content='width=1190'>
    <title>Chia-PET Visualizer</title>    
    <!-- <link type="text/css" rel="stylesheet" href="{{url_for('static',  filename= 'basicStyle.css') }}" /> -->
    <link type="text/css" rel="stylesheet" href="../static/normalize.css" />
    <!--<link type="text/css" rel="stylesheet" href="../static/demo.css" />-->
    <link type="text/css" rel="stylesheet" href="../static/icons.css" />
    <link type="text/css" href="../static/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="../static/css/jasny-bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../static/style2.css" />
    <link type="text/css" rel="stylesheet" href="../static/StatsStyle2.css" />
    <link type="text/css" rel="stylesheet" href="../static/barchartStyle.css" />
    <link type="text/css" rel="stylesheet" href="../static/networkStyle.css" />
    <link type="text/css" rel="stylesheet" href="../static/heatmapStyle.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/jquery.qtip.min.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/dataTables.bootstrap.css" />    
</head>

<body style="overflow: scroll;">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Report</h4>
          </div>
            <form id="myWizard" type="get" action="" class="form-horizontal">
                <section class="step" data-step-title="Options">                    
                    <div class="control-group">
                    <table class="table table-condensed table-hover table-bordered">                        
                        <tbody>
                            <tr>
                                <td><strong>Statistics :</strong></td>
                                <td>
                                    <input type="checkbox" class="NetStat" value="nbNodes" checked />
                                    Nodes/Links
                                                <br />
                                </td>
                                <td>
                                    <input type="checkbox" class="NetStat" value="nbInterIntra" checked />
                                    Inter/Intra
                                                <br />
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Frequency</strong></td>
                                <td>
                                    <input type="checkbox" class="FreqStat" value="freqChrStat" checked />
                                    Frequency per chromosome
                                                <br />
                                </td>
                                <td>
                                    <input type="checkbox" class="FreqStat" value="freqHeatmapStat" checked />
                                    Heatmap
                                                <br />
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Circos:</strong></td>
                                <td colspan="2">
                                    <input type="checkbox" class="Circos" value="CircosMap" checked />
                                    Circos Map
                                                  <br />
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Clusters :</strong></td>
                                <td>
                                    <input type="checkbox" class="ClusStat" value="SizeDist" checked />
                                    Cluster Sizes distribution
                                                  <br />
                                </td>
                                <td>
                                    <input type="checkbox" class="clusStat" value="ClusAnnot" checked />
                                    Clusters Annotation
                                                  <br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </section>
                <section class="step" data-step-title="Preview">
                    <div class="control-group report">
                        <div class="Report-frame">
                            
                        </div>
                    </div>
                </section>
                
            </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span> Print report
            </button>
          </div>
        </div>
      </div>
    </div>

        <div class="navmenu navmenu-default navmenu-fixed-left offcanvas" id="mainMenu">
        <div class="panel-group menu-panel" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="glyphicon glyphicon-circle-arrow-up"></span><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">ChIA-PET</a>
                    </h5>
                    <div class="progress progress-header progress-bar-container" qtip-val="0">
                        <div class="progress-bar progress-bar-success" id="fileuploadProgressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; border-color: #808080;">
                        </div>


                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <!--<form id="uploadPETs" method="POST" enctype="multipart/form-data" action="/getPets">-->
                    <div class="fileinput fileinput-new a-upload" data-provides="fileinput">
                        <div class="input-group">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i><span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                                <input id="fileupload" type="file" name="file"></span>
                            <!--<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>-->
                        </div>
                        <button type="submit" class="btn btn-default submitPet">Submit</button>
                    </div>
                    <!--</form>-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="glyphicon glyphicon-list-alt"></span><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cell line</a>
                    </h5>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">                    
                    <div class="panel-body">
                        <ul>
                          <li>
                            Genome:
                            <select class="genomes">
                                <option value="hg19">Human (hg19)</option>
                                <option value="hg18">Human (hg18)</option>
                                <option value="mm9">Mouse (mm9)</option>
                            </select>
                        </li>
                        <li>
                        Cell line:<select class="cellLines">
                            <option value="K562">K562</option>
                            <option value="MFC7">MFC7</option>
                        </select>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="glyphicon glyphicon-filter"></span><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Ehancer \ Promoter Marks</a>
                    </h5>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">Enhancer marks</li>
                            <li class="list-group-item">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <td>Mark</td>
                                            <td colspan="2">Value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="EnhancerMark" value="H3K4me1" checked />
                                                H3K4me1
                                                <br />
                                            </td>
                                            <td>
                                                <input type="radio" name="EnhancerH3K4me1Level" value="Hight" checked />
                                                Hight </td>
                                            <td>
                                                <input type="radio" name="EnhancerH3K4me1Level" value="Low" />
                                                Low</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="EnhancerMark" value="H3K4me3" checked />
                                                H3K4me3</td>
                                            <td>
                                                <input type="radio" name="EnhancerH3K4me3Level" value="Hight" />
                                                Hight</td>
                                            <td>
                                                <input type="radio" name="EnhancerH3K4me3Level" value="Low" checked />
                                                Low </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="EnhancerMark" value="H2AZ" checked />
                                                H2AZ
                                                <br />
                                            </td>
                                            <td>
                                                <input type="radio" name="EnhancerH2AZLevel" value="Hight" />
                                                Hight</td>
                                            <td>
                                                <input type="radio" name="EnhancerH2AZLevel" value="Low" checked />
                                                Low</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="list-group-item list-group-item-info">Promoter marks</li>
                            <li class="list-group-item">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <td>Mark</td>
                                            <td colspan="2">Value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="PromoterMark" value="H3K4me1" checked />
                                                H3K4me1
                                                <br />
                                            </td>
                                            <td>
                                                <input type="radio" name="PromoterH3K4me1Level" value="Hight" />
                                                Hight </td>
                                            <td>
                                                <input type="radio" name="PromoterH3K4me1Level" value="Low" checked />
                                                Low</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="PromoterMark" value="H3K4me3" checked />
                                                H3K4me3</td>
                                            <td>
                                                <input type="radio" name="PromoterH3K4me3Level" value="Hight" checked />
                                                Hight</td>
                                            <td>
                                                <input type="radio" name="PromoterH3K4me3Level" value="Low" />
                                                Low </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="PromoterMark" value="H2AZ" checked />
                                                H2AZ
                                                <br />
                                            </td>
                                            <td>
                                                <input type="radio" name="PromoterH2AZLevel" value="Hight" checked />
                                                Hight</td>
                                            <td>
                                                <input type="radio" name="PromoterH2AZLevel" value="Low" />
                                                Low</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default btnAnnotate">Annotate</button>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-default petUpload" style="display: block;" disabled="disabled">
                    <span class="glyphicon glyphicon glyphicon-upload"></span> Load data
                </button>
                <!--<button class="btn btn-default report" data-toggle="modal" data-target="#myModal">-->
                <button class="btn btn-default report">
                     <span class="glyphicon glyphicon-print"></span> Generate report
                </button>
                <!--<button class="btn btn-default 3DTest">
                     <span class="glyphicon glyphicon-print"></span> Get Chr1 3D
                </button>-->
            </div>
        </div>

    </div>


    <div class="canvas">
        <!--<div id="fileuploadModal" class="modal fade-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Uploading interaction file</h3>
                    </div>
                    <div class="modal-body">
                        <pre id="filenameContainer"></pre>
                        <div class="progress progress-striped active">
                            <div id="fileuploadProgressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span id="uploadStatus">0%</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning">Cancel</button>
                    </div>
                </div>
            </div>
        </div>-->        
        <nav role="navigation" class="navbar navbar-default navbar-static-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="btn btn-default" data-toggle="offcanvas" data-recalc="false" data-target="#mainMenu" data-canvas="body">
                    <span class="glyphicon glyphicon-tasks"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="Div1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-brand">ChIA-PET explorer</a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="mp-pusher" id="mp-pusher">
                <nav class="mp-menu" id="mp-menu">
                    <!-- <form method="post" enctype="multipart/form-data" action="/getPets"> -->
                </nav>
                <div class="scroller">
                    <div class="scroller-inner">

                        <div class="pet-results row">
                            <div class="general-info col-md-8">
                                <!-- This row to display stats -->
                                <div class="Stats row">
                                    <!-- Display interaction frquency per chromosom -->
                                    <div class="col-md-6">
                                        <div class="panel panel-default panelContainer">
                                            <div class="panel-heading">
                                                <span class="glyphicon glyphicon-signal"></span><strong>Number of interacting regions per chromosome </strong>
                                            </div>
                                            <div class="panel-body ChromStat">
                                                <svg class="PerChromStat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Display the heatmap -->
                                    <div class="col-md-6">
                                        <div class="panel panel-default panelContainer">
                                            <div class="panel panel-heading">
                                                <span class="glyphicon glyphicon-th"></span><strong>Interaction frequency heatmap </strong>
                                            </div>
                                            <div class="panel-body InteractionsStat">
                                                <!--<div class="plot-panel">-->
                                                <svg class="InterHeatmap" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Stats -->

                                <!--this row to display the network -->
                                <div class="col-md-6" style="height: 55%">
                                    <div class="row panel panel-default" style="height: 100%">
                                        <div class="panel panel-heading panel-net">
                                            <span class="glyphicon glyphicon-resize-small"></span>
                                            <span>
                                                <strong>Interaction network </strong>
                                                <span class="Stats hidden" id="netStats">
                                                    <strong>Nodes:</strong><span class="label label-danger" id="lblNbNode"></span>
                                                    <strong>links:</strong><span class="label label-danger" id="lblNbLinks"></span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="panel-body col-md-12 netDisplay">
                                            <div class="toolbar-network hidden">
                                                <div class='btn-group' >
                                                    <button type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-print"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-floppy-save"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="PETNet" id="NETContainer"></div>
                                            <!--<svg class="PETNet" id="NETContainer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- netDisplay -->
                                <div class="col-md-6">
                                    <div class="row panel panel-default">
                                        <div class="panel panel-heading">
                                            <span class="glyphicon glyphicon-resize-small"></span>
                                            <span>
                                                <strong>Clusters Statistics </strong>
                                            </span>
                                        </div>
                                        <div class="panel-body col-md-12 clusStatDisplay">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- general-info-->

                            <div class="regionInfo col-md-4">
                                <div class="row panel panel-default">
                                    <div class="panel panel-heading">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        <strong>Region
                                            <!--information-->
                                        </strong>
                                    </div>
                                    <div class="panel panel-body" id="GeneInfoContainer">
                                        <div id="svgHolder" class="hidden"></div>
                                        <div class="infopanel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- scroller-inner-->
                </div>
                <!--scroller-->
            </div>
            <!--pusher-->
        </div>
    </div>

    <script src="../static/js/classie.js"></script>

    <!--<script src="../static/js/mlpushmenu.js"></script>
    <script>        
        new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );		
    </script>-->
    <!--  -->

    <script type="text/javascript" src="../static/js/jQuery/jquery-1.11.0.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
    <script src="../static/js/jquery.easyWizard.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jasny-bootstrap.min.js"></script>    
    <script type="text/javascript" src="../static/js/d3/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/d3/d3.tip.v0.6.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/keLin/2D.js" charset="utf-8"></script>
    <script src="../static/js/FileUpload/jquery.ui.widget.js"></script>
    <script src="../static/js/FileUpload/jquery.fileupload.js"></script>
    <script src="../static/js/FileUpload/jquery.iframe-transport.js"></script>
    <script src="../static/js/qtip/jquery.qtip.min.js"></script>
    <script src="../static/js/qtip/imagesloaded.pkg.min.js"></script>
    <script src="../static/js/Visualization/Report.js"></script>
    <script src="http://www.biodalliance.org/release-0.11/dalliance-compiled.js"></script>
    <script src="http://threejs.org/build/three.min.js"></script>
    <!--<script src="../static/js/dalliance/dalliance-all.js"></script>-->
    <script type="text/javascript">
        dalliance = new Browser({
            chr:                 '22',
            viewStart:           30700000,
            viewEnd:             30900000,
            cookieKey:           'human-grc_h37',

            coordSystem: {
                speciesName: 'Human',
                taxon: 9606,
                auth: 'GRCh',
                version: '37',
                ucscName: 'hg19'
            },

            chains: {
                hg18ToHg19: new Chainset('http://www.derkholm.net:8080/das/hg18ToHg19/', 'NCBI36', 'GRCh37',
                                         {
                                             speciesName: 'Human',
                                             taxon: 9606,
                                             auth: 'NCBI',
                                             version: 36,
                                             ucscName: 'hg18'
                                         })
            },

            sources:          [{name:                 'Genome',
                twoBitURI:            'http://www.biodalliance.org/datasets/hg19.2bit',
                tier_type: 'sequence'},
                              {name: 'Genes',
                                  desc: 'Gene structures from GENCODE 19',
                                  bwgURI: 'http://www.biodalliance.org/datasets/gencode.bb',
                                  stylesheet_uri: 'http://www.biodalliance.org/stylesheets/gencode.xml',
                                  collapseSuperGroups: true,
                                  trixURI: 'http://www.biodalliance.org/datasets/geneIndex.ix'},
                              {name: 'K562_H3K4me1',
                                  desc: 'H3K4me1 signal in K562 cell line', 
                                  bwgURI: 'http://ftp.ebi.ac.uk/pub/databases/ensembl/encode/integration_data_jan2011/byDataType/signal/jan2011/bigwig/wgEncodeBroadHistoneK562H3k4me1StdAln_2Reps.norm5.rawsignal.bw'
                                  }
                              ,{name: 'K562_H3K4me3',
                              desc: 'H3K4me3 signal in K562 cell line', 
                              bwgURI: 'http://ftp.ebi.ac.uk/pub/databases/ensembl/encode/integration_data_jan2011/byDataType/signal/jan2011/bigwig/wgEncodeBroadHistoneK562H3k4me3StdAln_2Reps.norm5.rawsignal.bw'
                              }
                              ,{name: 'K562_H2AZ',
                                  desc: 'H2AZ signal in K562 cell line', 
                                  bwgURI: 'http://ftp.ebi.ac.uk/pub/databases/ensembl/encode/integration_data_jan2011/byDataType/signal/jan2011/bigwig/wgEncodeBroadHistoneK562H2azStdAln_2Reps.norm5.rawsignal.bw'
                              }
                            ,{name: 'K562 ChromHMM', desc: 'k562 ChromHMM Genome Segmentation', 
                                pennant: 'http://genome.ucsc.edu/images/encodeThumbnail.jpg',
                                bwgURI: 'http://ftp.ebi.ac.uk/pub/databases/ensembl/encode/integration_data_jan2011/byDataType/segmentations/jan2011/hub/k562.ChromHMM.bb',
                                style: [{type: 'bigwig', style: {glyph: 'BOX', FGCOLOR: 'black', BGCOLOR: 'blue', HEIGHT: 8, BUMP: false, LABEL: false, ZINDEX: 20, BGITEM: true, id: 'style1'}}, 
                                       //{type: 'bb-translation', style: {glyph: 'BOX', FGCOLOR: 'black', BGITEM: true, BGCOLOR: 'red', HEIGHT: 10, BUMP: true, ZINDEX: 20, id: 'style2'}}, 
                                       {type: 'bb-transcript', style: {glyph: 'BOX', FGCOLOR: 'black', BGCOLOR: 'white', HEIGHT: 10, ZINDEX: 10, BUMP: true, LABEL: true, id: 'style3'}}]}
            ],

            uiPrefix: '//www.biodalliance.org/release-0.11/',

            browserLinks: {
                Ensembl: 'http://www.ensembl.org/Homo_sapiens/Location/View?r=${chr}:${start}-${end}',
                UCSC: 'http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr${chr}:${start}-${end}',
                Sequence: 'http://www.derkholm.net:8080/das/hg19comp/sequence?segment=${chr}:${start},${end}'
            },

            hubs: ['http://ftp.ebi.ac.uk/pub/databases/ensembl/encode/integration_data_jan2011/hub.txt'],
        })
    </script>
    <script src="../static/js/sigma/sigma.min.js"></script>
    <script src="../static/js/sigma/sigma.plugins.dragNodes.min.js"></script>
    <script src="../static/js/sigma/sigma.plugins.animate.min.js"></script>
    <script src="../static/js/sigma/sigma.layout.forceAtlas2.min.js"></script>
    <script src="../static/js/Visualization/Network.js"></script>
    <script src="../static/js/tables/jquery.dataTables.min.js"></script>
    <script src="../static/js/tables/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};        
    </script>
</body>
</html>
